body {
  margin: 0;
}

.wrapper {
  display: flex;
}

.folder-list {
  display: flex;
  flex: 1;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color:#0b1f3a;
}

h1 {
  color: white;
}

a h1 {
  text-decoration: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 4;
}

.main-content button {
  width: 100px;
}

.side-bar {
  background-color: #0b1b32;
  color: white;
  width: 25%;
<<<<<<< HEAD
}

.side-bar button {
  
}

.folder-list {
  margin-top: 100px;
=======
>>>>>>> b5afe8cfad21fb6e94d30d07e5ae98772a60dfa2
}

.note-area {
  background-color: #102541;
  color: white;
}